<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Dope Wars</string>
    <key>CFBundleDisplayName</key>
    <string>Dope Wars</string>
    <key>CFBundleIdentifier</key>
    <string>io.sourceforge.dopewars.macos</string>
    <key>CFBundleVersion</key>
    <string>1.6.2</string>
    <key>CFBundleShortVersionString</key>
    <string>1.6.2</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>Dope Wars</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>LSMinimumSystemVersion</key>
    <string>11.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHumanReadableCopyright</key>
    <string>© 1998–2022 Ben Webb. GNU General Public License.</string>
</dict>
</plist>
